<div class="detail-container">
  @if (airplane) {
    <h2>Details for {{airplane.tailNumber | tailNumber}}</h2>
    <ul>
      <li><strong>Model: </strong> {{airplane.model}}</li>
      <li><strong>Manufacturer: </strong> {{airplane.manufacturer}}</li>
      <li><strong>Capacity: </strong> {{airplane.capacity}}</li>
      <li><strong>Status: </strong> {{airplane.status}}</li>
      <li><strong>Flight since maintenance: </strong> {{airplane.flightsSinceLastMaintenance}}</li>
    </ul>
  }
</div>

<div class="maintenance-section">
  <p>Maintenance progress: {{maintenancePercentage}}%</p>
  <div class="progress-container">
    <div class="progress-bar" [style.width.%]="maintenancePercentage"
    [ngClass]="{
      'near-limit': maintenancePercentage >= 75 && maintenancePercentage < 100,
      'at-limit': maintenancePercentage >= 100
    }"></div>
  </div>
</div>
